<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<div class="container text-center">

    <h1>password generator tutorial</h1>


    <form action="{% url 'password' %}">
        <select name="length">
            <option value="6">6 char</option>
            <option value="7" selected="selected">7 char</option>
            <option value="8">8 char</option>
            <option value="30">30 char</option>
        </select> Character length
        <br>

        <input type="checkbox" name="uppercase"> Uppercase
            <br>
        <input type="checkbox" name="numbers"> Numbers
        <br>
        <input type="checkbox" name="special_characters"> Special characters
        <br>

        <input type="submit" value="Get password" class="btn btn-primary">
    </form>

</div>