{% extends 'homepage/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br><img width="100%" height="auto" alt="Tormenta 20" src="https://jamboeditora.com.br/app/uploads/2020/11/jamboeditora-artigo-t20.jpg" class="d-inline-block align-top" />
            <h1>
                Grimório Tormenta 20
            </h1>
            <p>
                Olá,<br>Este é um projeto pessoal para criar um Grimório para <strong>Tormenta 20</strong>.
                Através dele, você poderá consultar filtrar a lista de todas as magias já lançadas no sistema,
                assim como criar listas próprias.<br><br>
                Devo salientar que este projeto <strong>AINDA ESTÁ EM DESENVOLVIMENTO</strong>, então pode esperar
                uma repaginada no visual de vez em quando.<br><br>
                Se você encontrou algum erro, uma magia faltando, ou tem uma sugestão, por favor, me envie por e-mail
                para <em>ermm.rs@gmail.com</em> que vou adicionar/corrigir assim que possível.
            </p>
            <h3>
                <a href="{% url 'spell:spells_page' %}"><h3 style="text-align:center">Lista de Magias</h3></a>
            </h3>
        </div>
    </div>
</div>
{% endblock %}
