{% extends './spell_base.html' %}
{% block content %}

        <style>
            @font-face {
                font-family: 'tormenta20';
                src: url('/static/styles/Fontes/Tormenta20.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'iowanOldStyleBold';
                src: url('/static/styles/Fontes/Iowan Old Style Bold.otf') format('opentype');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'iowanOldStyleBoldItalic';
                src: url('/static/styles/Fontes/Iowan Old Style Bold Italic.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }

            @font-face {
                font-family: 'iowanOldStyleRegular';
                src: url('/static/styles/Fontes/Iowan Old Style Regular.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }

            h2 {
                font-family: 'tormenta20';
                font-weight: normal;
                color: #d13235;
                display: inline;
            }

            h3 {
                font-family: 'iowanOldStyleBold';
                font-weight: normal;
                color: #f0dc82;
                font-variant: small-caps;
            }

            h5 {
                font-family: 'iowanOldStyleBold';
                font-weight: normal;
                color: #d13235;
                font-variant: small-caps;
                vertical-align:text-bottom;
            }

            body {
                background-image: url("/static/img/bg_2.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                bacground-position: center;
            }

            .bg_image {
                background-image: url("/static/img/background.png");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                bacground-position: center;
            }

            .bld{
                font-family: 'iowanOldStyleBold';
                color: white;
                font-weight: normal;
                font-style: normal;
                font-size: 110%;
                font-variant: small-caps;
            }

            label{
                font-family: 'iowanOldStyleRegular';
                color: white;
                font-weight: normal;
                font-style: normal;
            }

            .btn-primary{
            font-family: 'iowanOldStyleRegular';
                background-color:#3f0f12;
                border-color:#3f0f12;
                color:#f0dc82;
            }

            .dropdown-btn{
                background-color:Transparent;
                background-repeat:no-repeat;
                border: none;
                cursor:pointer;
                overflow: hidden;
                outline:none;
            }
            .dropdown-container {
                display: block;
            }

            .arrow {
                border: solid;
                border-width: 0 3px 3px 0;
                padding: 6px;
                display: inline-block;
                align: center;
                color: #d13235;
            }
            .down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }

            .hide{
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
            }

            .select{
                border: 1px solid transparent;
                padding: .5rem .75rem;
                font-family: 'iowanOldStyleRegular';
                background-color:#3f0f12;
                border-color:#3f0f12;
                color:#f0dc82;
                font-weight: 400;
                line-height: 1.5;
                vertical-align: middle;
                font-size: 1rem;
                border-radius: .25rem;
                text-align: center;
                text-decoration: none;
                min-width: 8rem;
            }

            .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
                color: #f0dc82;
                background-color: #3f0f12;
                border-color: #f0dc82;
            }

            .select:hover, .select:focus, .select:active, .select.active, .open>.dropdown-toggle.select {
                color: #f0dc82;
                background-color: #3f0f12;
                border-color: #f0dc82;
            }

            img {
                display: inline-block;
            }

        </style>

<div class="container-fluid" >
    <div class="row">
        <div class="col-md-12">
            <div class="row" style="padding-top:15px"></div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 bg_image" style="padding-top: 13px">
                    {% if rip %}
                        <h2 style="align:center;">Em memória de Isaac, Jahka, Jandin e Vicius</h2>
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-3 bg_image">
                    <div class="col-md-12" style="display: table; background-color:#B62E34;padding-top: 15px;padding-bottom: 15px;padding-left:15px;padding-right:15px">
                        <form id="filter" action="{% url 'spell:spells_page' %}">
                            <h3 style="text-align:left">
                                Magias encontradas: {{ spells.count }}
                            </h3>
                            <label class="bld"><b>Tipo: </b></label><br>
                            <input type="checkbox" id="Arcana" name="type1" value="AR" style="height:15px;width:15px;" {% if request.GET.type1 %} checked {% endif %}>
                            <label for="Arcana">Arcana</label><br>
                            <input type="checkbox" id="Divina" name="type2" value="DI" style="height:15px;width:15px;" {% if request.GET.type2 %} checked {% endif %}>
                            <label for="Divina">Divina</label><br>
                            <input type="checkbox" id="Universal" name="type3" value="UN" style="height:15px;width:15px;" {% if request.GET.type3 %} checked {% endif %}>
                            <label for="Universal">Universal</label><br>
                            <br>

                            <label class="bld"><b>Escola: </b></label><br>
                            <input type="checkbox" id="AB" name="school1" value="AB" style="height:15px;width:15px;" {% if request.GET.school1 %} checked {% endif %}>
                            <label for="AB">Abjuração</label><br>
                            <input type="checkbox" id="AD" name="school2" value="AD" style="height:15px;width:15px;" {% if request.GET.school2 %} checked {% endif %}>
                            <label for="AD">Advinhação</label><br>
                            <input type="checkbox" id="CO" name="school3" value="CO" style="height:15px;width:15px;" {% if request.GET.school3 %} checked {% endif %}>
                            <label for="CO">Convocação</label><br>
                            <input type="checkbox" id="EN" name="school4" value="EN" style="height:15px;width:15px;" {% if request.GET.school4 %} checked {% endif %}>
                            <label for="EN">Encantamento</label><br>
                            <input type="checkbox" id="EV" name="school5" value="EV" style="height:15px;width:15px;" {% if request.GET.school5 %} checked {% endif %}>
                            <label for="EV">Evocação</label><br>
                            <input type="checkbox" id="IL" name="school6" value="IL" style="height:15px;width:15px;" {% if request.GET.school6 %} checked {% endif %}>
                            <label for="IL">Ilusão</label><br>
                            <input type="checkbox" id="NE" name="school7" value="NE" style="height:15px;width:15px;" {% if request.GET.school7 %} checked {% endif %}>
                            <label for="NE">Necromancia</label><br>
                            <input type="checkbox" id="TR" name="school8" value="TR" style="height:15px;width:15px;" {% if request.GET.school8 %} checked {% endif %}>
                            <label for="TR">Transmutação</label><br>
                            <br>

                            <label class="bld" for="keyword">Palavras-chave: (separe com ';')</label>
                            <input type="text" id="keyword" name="keyword" style="display:table-cell; width:100%" {% if request.GET.keyword %} value="{{request.GET.keyword}}" {% endif %}><br>
                            <label class="bld" for="execution">Execução: </label>
                            <input type="text" id="execution" name="execution" style="display:table-cell; width:100%"{% if request.GET.execution %} value="{{request.GET.execution}}" {% endif %}><br>
                            <label class="bld" for="duration">Duração: </label>
                            <input type="text" id="duration" name="duration" style="display:table-cell; width:100%"{% if request.GET.duration %} value="{{request.GET.duration}}" {% endif %}><br>
                            <label class="bld" for="range">Alcance: </label>
                            <input type="text" id="range" name="range" style="display:table-cell; width:100%"{% if request.GET.range %} value="{{request.GET.range}}" {% endif %}><br>
                            <label class="bld" for="target_area_effect">Alvo, Área ou Efeito: </label>
                            <input type="text" id="target_area_effect" name="target_area_effect" style="display:table-cell; width:100%"{% if request.GET.target_area_effect %} value="{{request.GET.target_area_effect}}" {% endif %}><br>
                            <label class="bld" for="resistance">Resistência: </label>
                            <input type="text" id="resistance" name="resistance" style="display:table-cell; width:100%"{% if request.GET.resistance %} value="{{request.GET.resistance}}" {% endif %}><br>

                            <label class="bld" >Publicação: </label>
                            <select name="book_magazine" style="display:table-cell; width:100%">
                                <option value="" selected="selected">Todas</option>
                                {% for origin in origins %}
                                <option value="{{origin}}">{{origin}}</option>
                                {% endfor %}
                            </select><br><br>

                            <input type="submit" value="Filtrar magias" class="btn btn-primary">
                            <button class="btn btn-primary" style="margin-left:10px" onclick="
                                document.getElementById('filter').reset();

                                document.getElementById('Arcana').checked = false;
                                document.getElementById('Divina').checked = false;
                                document.getElementById('Universal').checked = false;

                                document.getElementById('AB').checked = false;
                                document.getElementById('AD').checked = false;
                                document.getElementById('CO').checked = false;
                                document.getElementById('EN').checked = false;
                                document.getElementById('EV').checked = false;
                                document.getElementById('IL').checked = false;
                                document.getElementById('NE').checked = false;
                                document.getElementById('TR').checked = false;

                                document.getElementById('keyword').value = null;
                                document.getElementById('execution').value = null;
                                document.getElementById('duration').value = null;
                                document.getElementById('range').value = null;
                                document.getElementById('target_area_effect').value = null;
                                document.getElementById('resistance').value = null;

                                return false;
                            ">
                                Limpar filtros
                            </button>
                            <br>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 bg_image" style="padding-top: 15px;padding-bottom: 15px;padding-left:15px;padding-right:15px">
                    {% load static %}
                    <form action="{% url 'grimoire:add_spells' %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        {% if user_grimoires %}
                        <h2>Selecione seu grimório: </h2>
                        <br>
                        <select name="grimoire_id" class="select">
                            {% for grimoire in user_grimoires%}
                            <option value="{{grimoire.id}}">{{grimoire.name}}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" value="Adicionar magias" class="btn btn-primary"><br>
                        {% endif %}
                        {% endif %}

                        {% for c in circles %}
                        <br>
                        <h2 style="font-size:270%">{{ c }}º círculo: </h2>
                        <button type="button" class="dropdown-btn"><i class="arrow down"></i></button>
                        <div class="dropdown-container">
                            {% for spell in spells %}
                            {% if spell.circle == c %}

                            <a href="{% url 'spell:spell_details' spell.id %}" style="text-decoration: none">
                                <h5>
                                    {% if user.is_authenticated %}
                                    {% if user_grimoires %}
                                    <input type="checkbox" name="spell{{spell.id}}" value={{spell.id}} style="height:18px;width:18px;vertical-align:text-bottom">
                                    {% endif %}
                                    {% endif %}
                                    {% if spell.school == 'AD'%}
                                    {% with 'img/'|add:'divination.png' as path %}
                                    <img src="{% static path %}" style="height:1em;vertical-align:sub">
                                    {% endwith %}
                                    {% else %}
                                    {% with 'img/'|add:spell.school|add:'.png' as path %}
                                    <img src="{% static path %}" style="height:1em;vertical-align:sub">
                                    {% endwith %}
                                    {% endif %}
                                    {% if spell.book_magazine == 'Homebrew' %}
                                    (HB)
                                    {% endif %}
                                    {{ spell.name }}
                                </h5>
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endfor %}

                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<script>
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("hide");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "none") {
      dropdownContent.style.display = "block";
    } else {
      dropdownContent.style.display = "none";
    }
  });
}
</script>


{% endblock %}