{% extends './spell_base.html' %}
{% block content %}

        <style>
            @font-face {
                font-family: 'tormenta20';
                src: url('/static/styles/Fontes/Tormenta20.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'iowanOldStyleBold';
                src: url('/static/styles/Fontes/Iowan Old Style Bold.otf') format('opentype');
                font-weight: normal;
                font-style: normal;
            }
            @font-face {
                font-family: 'iowanOldStyleBoldItalic';
                src: url('/static/styles/Fontes/Iowan Old Style Bold Italic.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }

            @font-face {
                font-family: 'iowanOldStyleRegular';
                src: url('/static/styles/Fontes/Iowan Old Style Regular.ttf') format('truetype');
                font-weight: normal;
                font-style: normal;
            }

            body {
                background-image: url("/static/img/bg_2.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                bacground-position: center;
            }

            .bg_image {
                background-image: url("/static/img/background.png");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                bacground-position: center;
            }

            .btn-primary{
            font-family: 'iowanOldStyleRegular';
                background-color:#3f0f12;
                border-color:#3f0f12;
                color:#f0dc82;
            }

            dd{
                font-family: 'iowanOldStyleRegular';
                color: white;
                font-weight: normal;
                font-style: normal;
            }

            dt{
                font-family: 'iowanOldStyleBold';
                color: white;
                font-weight: normal;
                font-style: normal;
                font-size: 110%;
                font-variant: small-caps;
            }

            h2 {
                font-family: 'iowanOldStyleBold';
                font-weight: normal;
                color: #f0dc82;
                font-variant: small-caps;
            }

            h5 {
                font-family: 'iowanOldStyleBold';
                font-weight: normal;
                color: #f0dc82;
                font-variant: small-caps;
            }

            h1 {
                font-family: 'tormenta20';
                font-weight: normal;
                color: #d13235
            }

            .enhc {
                font-family: 'iowanOldStyleBold';
                font-weight: normal;
                color: #d13235;
                font-variant: small-caps;
            }

            p{
                font-family: 'iowanOldStyleRegular';
                color: black;
                font-weight: normal;
                font-style: normal;
                text-align: justify;
                text-justify: inter-word;
            }

</style>

<div class="container-fluid" >
    <div class="row">
        <div class="col-md-12">
            <div class="row" style="padding-top:15px"></div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 bg_image" style="padding-top: 13px"></div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>

                <div class="col-md-3 bg_image" style="padding-bottom:13px">
                    <div class="col-md-12" style="display: table; background-color:#B62E34;padding-top: 15px;padding-bottom: 15px;padding-left:15px;padding-right:15px">
                        <h2 style="text-align:center">
                            {{ spell.get_school_display }}
                        </h2>
                        <h5 style="text-align:center">
                            {{ spell.get_spell_type_display }} - {{ spell.circle }}º círculo
                        </h5>
                        {% if spell.book_magazine == 'Homebrew' %}
                            <button onclick="copyText()" class="btn btn-primary">Compartilhar magia</button>
                            {% if user.is_authenticated %}
                                {% with ";"|add:user.get_username|add:";" as username %}
                                    {% if username in spell.shared_users %}
                                        <button id="remove_spell" class="btn btn-primary">Remover magia</button>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        {% endif %}
                        <dl>
                            <dt>
                                Execução:
                            </dt>
                            <dd>
                                {{ spell.execution }}

                            </dd>
                            <dt>
                                Duração:
                            </dt>
                            <dd>
                                {{ spell.duration }}
                            </dd>
                            <dt>
                                Alcance:
                            </dt>
                            <dd>
                                {{ spell.range }}
                            </dd>
                            <dt>
                                Alvo/Área/Efeito:
                            </dt>
                            <dd>
                                {{ spell.target_area_effect }}
                            </dd>
                            <dt>
                                Resistência:
                            </dt>
                            <dd>
                                {% if spell.resistance != '' %}
                                {{ spell.resistance }}
                                {% else %}
                                nenhuma
                                {% endif %}
                            </dd>
                            <dt>
                                Publicação:
                            </dt>
                            <dd>
                                {{spell.book_magazine}}
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="col-md-3 bg_image" style="padding-top: 15px;padding-bottom: 15px;padding-left:15px;padding-right:15px">
                    <h1 style="text-align:center">
                        {{spell.name}}
                    </h1>
                    <p>
                        {{ spell.description }}
                    </p>
                    {% for enhancement in enhancements %}
                    <p>
                        <b class="enhc">{{ enhancement.cost }}:</b>
                        {{enhancement.effect}}
                    </p>
                    {% endfor %}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function copyText() {
        /* Copy text into clipboard */
        navigator.clipboard.writeText(document.location.origin + "/add_spell/{{spell.id}}");
    }
</script>

<script>
    document.getElementById("remove_spell").onclick = function () {
        location.href = document.location.origin + "/remove_spell/{{spell.id}}";
    };
</script>
{% endblock %}