{% extends './spell_base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h1 style="text-align:center">
                    {{spell.name}}
                </h1>
                <h3 style="text-align:center">
                    ({{ spell.get_spell_type_display }} {{ spell.circle }})
                </h3>

                <h5 style="text-align:center">
                    {{ spell.get_school_display }}
                </h5>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <dl>
                        <dt>
                            Execução:

                        </dt>
                        <dd>
                            {{ spell.execution }}

                        </dd>
                        <dt>
                            Duração:
                        </dt>
                        <dd>
                            {{ spell.duration }}
                        </dd>
                        <dt>
                            Alcance:
                        </dt>
                        <dd>
                            {{ spell.range }}
                        </dd>
                        <dt>
                            Alvo/Área/Efeito:
                        </dt>
                        <dd>
                            {{ spell.target_area_effect }}
                        </dd>
                        <dt>
                            Resistência:
                        </dt>
                        <dd>
                            {% if spell.resistance != '' %}
                                {{ spell.resistance }}
                            {% else %}
                                nenhuma
                            {% endif %}
                        </dd>
                        <dt>
                            Publicação:
                        </dt>
                        <dd>
                            {{spell.book_magazine}}
                        </dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <p>
                        {{ spell.description }}
                    </p>
                    {% for enhancement in enhancements %}
                    <p>
                        <b style="color:red">{{ enhancement.cost }}:</b>
                        {{enhancement.effect}}
                    </p>
                    {% endfor %}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}